@import 'bootstrap/dist/css/bootstrap';

.navbar {
	background-color: #fdf6ea !important;
}
#main_colour{
	background: #fdf6ea;
}
#page_content{
	background: #fafafa;
}
#form_background{
	background: rgba(133, 0, 8, 0.13);
}
